{% extends "layout.html"%} {%block content%}
<h3>Enter details For Your Current Account</h3>
<form action="/curAccForm" method="POST">
  {{curAccForm.hidden_tag()}} {{curAccForm.name.label}} {{curAccForm.name}}
  <br />
  {{curAccForm.pin_number.label}} {{curAccForm.pin_number}}
  <br />
  {{curAccForm.balance.label}} {{curAccForm.balance}}
  <br />
  {{curAccForm.reg_no.label}} {{curAccForm.reg_no}}
  <br />
  {{curAccForm.web_url.label}} {{curAccForm.web_url}}
  <br />
  {{curAccForm.privilege.label}} {{curAccForm.privilege}}
  <br />
  {{curAccForm.submit}}
</form>
{%endblock content%}
