{% extends "layout.html"%} {%block content%}
<h3>Enter details For Your Savings Account</h3>
<form action="/savAccForm" method="POST">
  {{savAccForm.hidden_tag()}} {{savAccForm.name.label}} {{savAccForm.name}}
  <br />
  {{savAccForm.pin_number.label}} {{savAccForm.pin_number}}
  <br />
  {{savAccForm.balance.label}} {{savAccForm.balance}}
  <br />
  {{savAccForm.date_of_birth.label}} {{savAccForm.date_of_birth}}
  <br />
  {{savAccForm.gender.label}} {{savAccForm.gender}}
  {{savAccForm.privilege.label}} {{savAccForm.privilege}}
  <br />
  {{savAccForm.submit}}
</form>
{%endblock content%}
