{% extends "layout.html"%} {%block content%}
<h3>Hi {{email}}, Welcome To User Options</h3>
<form action="/openAccForm" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.openAccount}}
</form>
<form action="/closeAccForm" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.closeAccount}}
</form>
<form action="/deleteAccForm" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.deleteAccount}}
</form>
<form action="/depositForm" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.deposit}}
</form>
<form action="/withdrawForm" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.withdraw}}
</form>
<form action="/transferForm" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.transfer}}
</form>
<form action="/checkActive" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.check_activity}}
</form>
<form action="/transactionHistForm" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.transaction}}
</form>
<form action="/viewAcc" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.acc}}
</form>
<form action="/logout" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.logout}}
</form>

{%endblock content%}
