{% extends "layout.html"%} {%block content%}
<h3>Hi {{email}}, Welcome To User Options</h3>
<form action="/openAccForm" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.openAccount}}
</form>
<form action="closeAccForm" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.closeAccount}}
</form>
<form action="" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.deposit}}
</form>
<form action="" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.withdraw}}
</form>
<form action="" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.transfer}}
</form>
<form action="/checkActive" method="POST">
  {{userOptions.hidden_tag()}} {{userOptions.check_activity}}
</form>

{%endblock content%}
